.increment-decrement {
    text-align: center;
    margin-top: 100px;
}

.count-btn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    outline: 0;
    border: 1px transparent;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.count-down {
    background-color: #e73737;
}

.count-up {
    background-color: #2bd92e;
}

.counter {
    font-size: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 3px 13px;
}